* @bear101 @BearWare/Maintainers
/.github/workflows/ @bear101 @BearWare/Maintainers @hwangsihu
/.github/CODEOWNERS @bear101
/Client/TeamTalkAndroid/ @bear101 @BearWare/Maintainers @hwangsihu @poretsky
/LICENSE.txt @bear101
