[submodule "TeamTalkClassic/tolk"]
	path = Client/TeamTalkClassic/tolk
	url = https://github.com/bear101/tolk
[submodule "TeamTalkClassic/tinyxml"]
	path = Client/TeamTalkClassic/tinyxml
	url = https://github.com/bear101/tinyxml
