./*.sln
./*.bat
./.gitattributes
CMakeFiles
CMakeLists.txt.user
TAGS
.DS_STORE
.build
Client/iTeamTalk/TeamTalkKit/Vendor/TeamTalkNativeiOS.xcframework
Client/iTeamTalk/TeamTalkKit/Vendor/TeamTalkNativemacOS.xcframework