*.sln
*.bat
libteamtalk
TeamTalk_DLL/*.lib
TeamTalk_DLL/*.a
TeamTalk_DLL/*.m*
TeamTalk_DLL/*.so
TeamTalk_DLL/*.dylib
TeamTalk_DLL/*.h
TeamTalk_DLL/*.cpp
TeamTalk_DLL/*.rc
TeamTalk_DLL/*.def
TeamTalk_DLL/*.sh
Copyright.txt
Documentation
./Makefile
SignExecutables.bat
teamtalkd
ttenvrc
Tools
UnitTest/*.testsettings
UnitTest/*.vsmdi
UnitTest/TeamTalkXCTest/TeamTalkTest.xcodeproj/project.xcworkspace
UnitTest/TeamTalkXCTest/TeamTalkTest.xcodeproj/xcuserdata
TeamTalkAndroid/.classpath
TeamTalkAndroid/.project
TeamTalkAndroid/.settings
TeamTalkAndroid/bin
TeamTalkAndroid/gen
TeamTalkAndroid/libs/android-support*
TeamTalkAndroid/libs/gson*
TeamTalkJNI/.classpath
TeamTalkJNI/.project
TeamTalkJNI/.settings
TeamTalkJNI/bin
TeamTalkJNI/gen
TeamTalkJNI/libs/armeabi-v7a/libTeamTalk5*
TeamTalkJNI/libs/*.so
TeamTalkJNI/libs/*.dylib
TeamTalkJNI/libs/*.jar
TeamTalkJNI/src/build
iTeamTalk/iTeamTalk.xcodeproj/xcuserdata
iTeamTalk/iTeamTalk.xcodeproj/project.xcworkspace/xcshareddata
iTeamTalk/iTeamTalk.xcodeproj/project.xcworkspace/xcuserdata
iTeamTalk/iTeamTalk/License.swift
qtTeamTalk/license.h
TeamTalkAndroid/src/dk/bearware/data/License.java
TeamTalkClassic/License.h
TeamTalkJNI/src/dk/bearware/*.class
TeamTalkJNI/test/dk/bearware/*.class
TeamTalkJNI/test/dk/bearware/events/*.class
TeamTalkJNI/test/*.class
TAGS
