---
Checks: >
    bugprone-*,
    clang-analyzer-*,
    concurrency-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-pro-type-member-init,
    llvm-*,
    -llvm-header-guard,
    misc-*,
    -misc-header-guard,
    -misc-include-cleaner,
    modernize-*,
    -modernize-use-trailing-return-type,
    performance-*,
    readability-*,
    -readability-identifier-length,
    -readability-braces-around-statements,

WarningsAsErrors: true
HeaderFilterRegex: ''
CheckOptions:
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.StructCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.ConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.ConstexprFunctionCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.ConstexprMethodCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.ConstexprVariableCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.PrivateMemberPrefix
    value:           m_
