/*.vcxproj*
/*_plugin_import.cpp
/.qmake.stash
/Makefile
/SAAPI32.dll
/SAAPI64.dll
/TeamTalk.app
/TeamTalk5.app
/TeamTalk5.exe
/TeamTalk5Pro.app
/TeamTalk5Pro.exe
/TeamTalkPro.app
/Tolk.dll
/build
/debug
/dolapi32.dll
/license.h
/nvdaControllerClient32.dll
/nvdaControllerClient64.dll
/release
/teamtalk5
/teamtalk5.pro.user
/teamtalk5pro
/teamtalk5pro.pro.user
/uic_wrapper.bat
/windeployqt
/windeployqt-debug
