/*.ilk
/*.pdb
/ca.cer
/tt5prosrv
/tt5prosrv.exe
/tt5prosrv.log
/tt5prosrv.xml
/tt5prosvc.exe
/tt5spambot
/tt5spambot.exe
/tt5spambot.log
/tt5spambot.xml
/tt5spambotsvc.exe
/tt5srv
/tt5srv.exe
/tt5srv.log
/tt5srv.xml
/tt5svc.exe
/ttservercert.pem
/ttserverkey.pem
