/*.VC.db
/*.VC.opendb
/*.sln
/*.user
/.vs
/SAAPI32.dll
/SAAPI64.dll
/TeamTalk.aps
/Tolk.dll
/Tolk.dll
/Win32
/dolapi32.dll
/ipch
/nvdaControllerClient32.dll
/nvdaControllerClient64.dll
/x64
/TeamTalk5Classic.exe
/TeamTalk5ClassicPro.exe
