.classpath
.project
.settings
bin
gen
libs/armeabi-v7a/libTeamTalk5-jni*
libs/armeabi-v7a/libTeamTalk5Pro-jni*
libs/libTeamTalk5-jni*
libs/libTeamTalk5Pro-jni*
libs/*.jar
src/build
jni/*.mk
obj
*.class
*.jar
Debug
Release
