name: iOS

on:
  push:
    branches:
      - '**'
      - '!debug*'
      - 'debug-ios*'
  pull_request:
    branches:
      - '**'
      - '!debug*'
      - 'debug-ios*'

jobs:
  build:
    strategy:
      matrix:
        include:
          - name: iOS arm64
            cmakearch: arm64
            cmakesysroot: iphoneos
          - name: iOS x86_64
            cmakearch: x86_64
            cmakesysroot: iphonesimulator

    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Install dependencies
      working-directory: ${{runner.workspace}}/TeamTalk5/Build
      run: make depend-mac

    - name: Build TeamTalk library
      working-directory: ${{runner.workspace}}/TeamTalk5/Build
      run: make CMAKE_EXTRA="-DFEATURE_WEBRTC=OFF -DCMAKE_OSX_ARCHITECTURES=${{ matrix.cmakearch }} -DCMAKE_OSX_SYSROOT=${{ matrix.cmakesysroot }} -DTOOLCHAIN_INSTALL_PREFIX=${{runner.workspace}}/toolchain-${{ matrix.cmakearch }} -DCMAKE_INSTALL_PREFIX=${{runner.workspace}}/install-${{ matrix.cmakearch }}" BUILDDIR=build-${{ matrix.cmakearch }} ios-build

    - name: Install TeamTalk SDK
      working-directory: ${{runner.workspace}}/TeamTalk5/Build/build-${{ matrix.cmakearch }}
      run: cmake --build . --target install

    - name: Create architecture-specific library
      working-directory: ${{runner.workspace}}/TeamTalk5
      run: >-
        libtool -static -o ${{runner.workspace}}/install-${{ matrix.cmakearch }}/Library/TeamTalk_DLL/libTeamTalk5-${{ matrix.cmakearch }}.a
        Library/TeamTalk_DLL/${{ matrix.cmakearch }}/libTeamTalk5.a
        ${{runner.workspace}}/toolchain-${{ matrix.cmakearch }}/speex/lib/libspeex.a
        ${{runner.workspace}}/toolchain-${{ matrix.cmakearch }}/speexdsp/lib/libspeexdsp.a
        ${{runner.workspace}}/toolchain-${{ matrix.cmakearch }}/opus/lib/libopus.a
        ${{runner.workspace}}/toolchain-${{ matrix.cmakearch }}/libvpx/lib/libvpx.a
        ${{runner.workspace}}/toolchain-${{ matrix.cmakearch }}/ace/lib/libACE.a
        ${{runner.workspace}}/toolchain-${{ matrix.cmakearch }}/ace/lib/libACE_SSL.a
        ${{runner.workspace}}/toolchain-${{ matrix.cmakearch }}/ace/lib/libACE_INet.a
        ${{runner.workspace}}/toolchain-${{ matrix.cmakearch }}/ace/lib/libACE_INet_SSL.a
        ${{runner.workspace}}/toolchain-${{ matrix.cmakearch }}/openssl/lib/libcrypto.a
        ${{runner.workspace}}/toolchain-${{ matrix.cmakearch }}/openssl/lib/libssl.a

    - name: Upload architecture artifact
      uses: actions/upload-artifact@v5
      with:
        name: teamtalksdk-ios-${{ matrix.cmakearch }}
        path: ${{runner.workspace}}/install-${{ matrix.cmakearch }}

  lipo:
    needs: build

    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Check for source changes
      uses: dorny/paths-filter@v3
      id: changes
      with:
        filters: |
          src:
            - 'Library/TeamTalk_DLL/**'
            - 'Client/iTeamTalk/**'

    - name: Download ARM64 artifact
      uses: actions/download-artifact@v6
      with:
        name: teamtalksdk-ios-arm64

    - name: Download x86_64 artifact
      uses: actions/download-artifact@v6
      with:
        name: teamtalksdk-ios-x86_64

    - name: Create universal binary
      working-directory: ${{runner.workspace}}/TeamTalk5
      run: >-
        lipo Library/TeamTalk_DLL/libTeamTalk5-arm64.a
        Library/TeamTalk_DLL/libTeamTalk5-x86_64.a
        -create -output ${{runner.workspace}}/TeamTalk5/Library/TeamTalk_DLL/libTeamTalk5.a

    - name: Upload universal library artifact
      uses: actions/upload-artifact@v5
      with:
        name: teamtalksdk-ios-universal
        path: ${{runner.workspace}}/TeamTalk5

    - name: Build iTeamTalk client
      if: steps.changes.outputs.src == 'true'
      working-directory: ${{runner.workspace}}/TeamTalk5
      run: >-
        xcodebuild -project Client/iTeamTalk/iTeamTalk.xcodeproj
        CODE_SIGN_IDENTITY=-
        AD_HOC_CODE_SIGNING_ALLOWED=YES
        CODE_SIGN_STYLE=Automatic
        COMPILER_INDEX_STORE_ENABLE=NO
