name: macOS

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  # TeamTalk unit test environment variables
  GITHUBSKIP: 1
  INPUTDEVICEID: 1978
  OUTPUTDEVICEID: 1978
  VERBOSE: 0
  VIDEODEVICEID: None

jobs:
  build:
    if: "!startsWith(github.head_ref, 'debug') || startsWith(github.head_ref, 'debug-macos')"
    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: true

    - name: Set up Java
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '25'

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.10.*'
        modules: 'qtmultimedia qtspeech'
        setup-python: false

    - name: Print env
      run: printenv | sort

    - name: Install dependencies
      working-directory: ${{runner.workspace}}/TeamTalk5/Build
      run: make depend-mac

    - name: Build TeamTalk library and apps
      working-directory: ${{runner.workspace}}/TeamTalk5
      shell: bash
      run: make CMAKE_EXTRA="-DFEATURE_WEBRTC=OFF -DFEATURE_PORTAUDIO=OFF -DBUILD_TEAMTALK_LIBRARY_UNITTEST_CATCH2=ON -DBUILD_TEAMTALK_LIBRARY_UNITTEST_CATCH2_PERF=OFF -DBUILD_TEAMTALK_CLIENT_QTTEAMTALK_PRODUCT=ON -DCMAKE_INSTALL_PREFIX=${{runner.workspace}}/install" -C Build mac

    - name: Start TeamTalk Standard Server
      working-directory: ${{runner.workspace}}/TeamTalk5
      run: |
        cp Library/TeamTalkLib/test/tt5srv.xml_template Server/tt5srv.xml
        Server/tt5srv -d -c Server/tt5srv.xml

    - name: Start TeamTalk Pro Server (encrypted)
      working-directory: ${{runner.workspace}}/TeamTalk5
      run: |
        cp -f Library/TeamTalkLib/test/tt5prosrv.xml_template Server/tt5prosrv.xml
        cp Library/TeamTalkLib/test/ttservercert.pem Server/
        cp Library/TeamTalkLib/test/ttserverkey.pem Server/
        cp Library/TeamTalkLib/test/ca.cer Server/
        Server/tt5prosrv -d -wd Server/

    - name: Run Catch unit tests
      working-directory: ${{runner.workspace}}/TeamTalk5/Library/TeamTalkLib/test
      run: catchtt.app/Contents/MacOS/catchtt --durations yes

    - name: Stop TeamTalk servers
      run: killall tt5srv tt5prosrv

    - name: Install TeamTalk SDK
      working-directory: ${{runner.workspace}}/TeamTalk5/Build/build-mac
      run: cmake --build . --target install

    - name: Upload TeamTalk SDK artifact
      uses: actions/upload-artifact@v6
      with:
        name: teamtalksdk-macos
        path: ${{runner.workspace}}/install
