name: Ubuntu 18 SmokeTest

on:
  push:
    branches-ignore:
      - workflow_windows

env:
  # TeamTalkJNI JUnit environment variables
  INPUTDEVICEID: 1978
  OUTPUTDEVICEID: 1978
  VIDEODEVICEID: None
  OPUSTOOLS: 0
  VERBOSE: 0
  GITHUBSKIP: 1

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: Refresh Ubuntu-repo
      run: sudo apt update

    - name: Source environment
      working-directory: ${{runner.workspace}}/TeamTalk5
      run: source env.sh

    - name: Install Dependencies
      run: >-
           sudo apt install libace-dev
           libace-ssl-dev
           libace-inet-dev
           libace-inet-ssl-dev
           libtinyxml-dev
           zlib1g-dev
           libssl-dev
           libopus-dev
           libspeex-dev
           libspeexdsp-dev
           libvpx-dev
           libogg-dev
           portaudio19-dev
           libasound2-dev
           libavcodec-dev
           libavdevice-dev
           libavfilter-dev
           libavformat-dev
           libavresample-dev
           libavutil-dev
           libswresample-dev
           libswscale-dev
           cmake
           python3-minimal
           junit4
           catch
           ninja-build
           doxygen
           valgrind
           libpcap-dev
           qt5-default
           qtmultimedia5-dev
           libqt5x11extras5-dev
           

    - name: Clone submodules
      working-directory: ${{runner.workspace}}/TeamTalk5
      run: git submodule update --init Library/TeamTalkLib/test/testdata

    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure CMake
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      shell: bash
      working-directory: ${{runner.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source
      # and build directories, but this is only available with CMake 3.13 and higher.
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: >-
           cmake $GITHUB_WORKSPACE -G Ninja
           -DBUILD_TEAMTALK_CORE=ON
           -DBUILD_TEAMTALK_STATIC=OFF
           -DBUILD_TEAMTALK_ACE=OFF
           -DSPEEXDSP_STATIC=OFF
           -DFFMPEG_STATIC=OFF
           -DAVF=OFF
           -DMSDMO=OFF
           -DDSHOW=OFF
           -DVIDCAP=OFF
           -DMEDIAFOUNDATION=OFF
           -DOPUS_STATIC=OFF
           -DLIBVPX_STATIC=OFF
           -DSPEEX_STATIC=OFF
           -DOGG_STATIC=OFF
           -DOPUSTOOLS=OFF
           -DLAMEMP3=OFF
           -DMSVS_UNITTEST=OFF
           -DACE_STATIC=OFF
           -DTINYXML_STATIC=OFF
           -DPORTAUDIO=OFF
           -DZLIB_STATIC=OFF
           -DWEBRTC=OFF
           -DV4L2=OFF
           -DCATCH_UNITTEST=ON

    - name: Build
      working-directory: ${{runner.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build .

    - name: Java Server API Test (non-encrypted)
      working-directory: ${{runner.workspace}}/TeamTalk5/Library/TeamTalkJNI
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: |
        export ENCRYPTED=0 WEBRTC=0
        make runjunitsrv

    - name: Java Server API Test (encrypted)
      working-directory: ${{runner.workspace}}/TeamTalk5/Library/TeamTalkJNI
      run: |
        export ENCRYPTED=1 WEBRTC=0
        make runjunitsrv

    - name: Start TeamTalk Standard Server
      working-directory: ${{runner.workspace}}/TeamTalk5
      run: |
        cp Library/TeamTalkLib/test/tt5srv.xml_template Server/tt5srv.xml
        Server/tt5srv -d -c Server/tt5srv.xml

    - name: Start TeamTalk Pro Server (encrypted)
      working-directory: ${{runner.workspace}}/TeamTalk5
      run: |
        cp -f Library/TeamTalkLib/test/tt5prosrv.xml_template Server/tt5prosrv.xml
        cp Library/TeamTalkLib/test/ttservercert.pem Server/
        cp Library/TeamTalkLib/test/ttserverkey.pem Server/
        Server/tt5prosrv -d -wd Server/

    - name: Run Python client
      working-directory: ${{runner.workspace}}/TeamTalk5
      run: |
        source env.sh
        make -C Client/ttserverlogpy

    - name: Catch unit-test
      working-directory: ${{runner.workspace}}/TeamTalk5/Library/TeamTalkLib/test
      run: |
        ./catchtt --durations yes

    - name: Stop TeamTalk Pro Server
      run: killall tt5prosrv

    - name: Java Unit-test (non-encrypted)
      working-directory: ${{runner.workspace}}/TeamTalk5/Library/TeamTalkJNI
      run: |
        export ENCRYPTED=0 WEBRTC=0
        make runjunit

    - name: Stop TeamTalk Standard Server
      run: killall tt5srv

    - name: Start TeamTalk Pro Server (non-encrypted)
      working-directory: ${{runner.workspace}}/TeamTalk5
      run: |
        cp -f Library/TeamTalkLib/test/tt5srv.xml_template Server/tt5srv.xml
        Server/tt5prosrv -d -c Server/tt5srv.xml

    - name: Java Unit-test with shared audio devices (non-encrypted)
      working-directory: ${{runner.workspace}}/TeamTalk5/Library/TeamTalkJNI
      run: |
        export ENCRYPTED=0 WEBRTC=0
        export INPUTDEVICEID=4026
        export OUTPUTDEVICEID=4026
        make runjunitpro

    - name: Stop TeamTalk Pro Server (non-encrypted)
      run: killall tt5prosrv

    - name: Start TeamTalk Pro Server (encrypted)
      working-directory: ${{runner.workspace}}/TeamTalk5
      run: |
        cp -f Library/TeamTalkLib/test/tt5prosrv.xml_template Server/tt5prosrv.xml
        cp Library/TeamTalkLib/test/ttservercert.pem Server/
        cp Library/TeamTalkLib/test/ttserverkey.pem Server/
        Server/tt5prosrv -d -wd Server/

    - name: Java Unit-test with virtual audio device (encrypted)
      working-directory: ${{runner.workspace}}/TeamTalk5/Library/TeamTalkJNI
      run: |
        export ENCRYPTED=1 WEBRTC=0
        export INPUTDEVICEID=1978
        export OUTPUTDEVICEID=1978
        make runjunitpro

    - name: Stop TeamTalk Pro Server (encrypted)
      run: killall tt5prosrv

    - name: Doxygen Documentation
      working-directory: ${{runner.workspace}}/TeamTalk5/Build
      run: make dox
