name: Windows

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  # TeamTalk unit test environment variables
  INPUTDEVICEID: 1978
  OUTPUTDEVICEID: 1978
  VIDEODEVICEID: None
  VERBOSE: 0
  GITHUBSKIP: 1
  SKIPKNOWNBUGS: 1

jobs:
  build:
    if: "!startsWith(github.head_ref, 'debug') || startsWith(github.head_ref, 'debug-windows')"
    strategy:
      matrix:
        arch: [x86, x64]
        include:
          - arch: x86
            cmakeplatform: Win32
            javaversion: 19
            opensslplatform: VC-WIN32
            portablearch: win32
            qtarch: win32_msvc2019
            qtversion: '5.15.*'
            vcpkgarch: x86-windows
            vcvars: vcvars32.bat
          - arch: x64
            cmakeplatform: x64
            javaversion: 25
            opensslplatform: VC-WIN64A
            portablearch: win64
            qtarch: win64_msvc2022_64
            qtmodules: 'qtmultimedia qtspeech qtvirtualkeyboard'
            qtversion: '6.10.*'
            vcpkgarch: x64-windows
            vcvars: vcvars64.bat

    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: true

    - name: Set up Java
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '${{ matrix.javaversion }}'
        architecture: ${{ matrix.arch }}

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'
        architecture: ${{ matrix.arch }}

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        arch: '${{ matrix.qtarch }}'
        version: '${{ matrix.qtversion }}'
        modules: '${{ matrix.qtmodules }}'
        setup-python: false

    - name: Install Doxygen
      uses: ssciwr/doxygen-install@v1
      with:
        version: '1.16.1'

    - name: Set up VSTest
      uses: darenm/Setup-VSTest@v1

    - name: Install dependencies
      run: python -m pip install -U pip pytest pytest-cov

    - name: Print env
      shell: cmd
      run: set

    - name: Install MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: MSYS
        path-type: inherit
        update: true
        install: base-devel
        release: false

    - name: Install NASM
      working-directory: ${{runner.workspace}}
      shell: cmd
      run: |
        curl -L -o nasm.zip https://www.nasm.us/pub/nasm/releasebuilds/3.01/win64/nasm-3.01-win64.zip
        7z x nasm.zip
        echo %CD%\nasm-3.01>> %GITHUB_PATH%

    - name: Download and install OpenSSL for Qt 5.15
      if: matrix.arch == 'x86'
      working-directory: ${{runner.workspace}}
      shell: cmd
      run: |
        curl -JOL https://github.com/openssl/openssl/releases/download/openssl-3.6.0/openssl-3.6.0.tar.gz
        tar -xzf openssl-3.6.0.tar.gz
        cd openssl-3.6.0
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\${{ matrix.vcvars }}"
        perl Configure ${{ matrix.opensslplatform }} --prefix=%CD%\openssl-install --openssldir=%CD%\openssl-install
        nmake /s
        nmake /s install
        echo %CD%\openssl-install\bin>> %GITHUB_PATH%

    - name: Configure CMake
      working-directory: ${{runner.workspace}}
      run: >-
        cmake -S TeamTalk5 -B output -A ${{ matrix.cmakeplatform }}
        -DBUILD_TEAMTALK_LIBRARY_UNITTEST_CATCH2=ON
        -DBUILD_TEAMTALK_LIBRARY_UNITTEST_CATCH2_PERF=OFF
        -DFEATURE_WEBRTC=OFF
        -DBUILD_TEAMTALK_CLIENT_TEAMTALKAPP_DOTNET=OFF
        -DCMAKE_INSTALL_PREFIX=${{runner.workspace}}/install-teamtalk

    - name: Build and install TeamTalk
      working-directory: ${{runner.workspace}}
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\${{ matrix.vcvars }}"
        cmake --build output --parallel --config Release --target install
        echo ${{runner.workspace}}\TeamTalk5\Library\TeamTalk_DLL>> %GITHUB_PATH%
        echo ${{runner.workspace}}\TeamTalk5\Library\TeamTalkJNI\libs>> %GITHUB_PATH%
        echo PYTHONPATH=${{runner.workspace}}\TeamTalk5\Library\TeamTalkPy>> %GITHUB_ENV%

    - name: Copy server configuration
      working-directory: ${{runner.workspace}}/TeamTalk5
      run: |
        copy Library\TeamTalkLib\test\tt5srv.xml_template Server\tt5srv.xml
        copy Library\TeamTalkLib\test\tt5prosrv.xml_template Server\tt5prosrv.xml
        copy Library\TeamTalkLib\test\ttserverkey.pem Server\
        copy Library\TeamTalkLib\test\ttservercert.pem Server\
        copy Library\TeamTalkLib\test\ca.cer Server\

    - name: Start TeamTalk Standard Server
      working-directory: ${{runner.workspace}}/TeamTalk5/Server
      shell: cmd
      run: |
        tt5svc.exe -i
        tt5svc.exe -s

    - name: Start TeamTalk Pro Server
      working-directory: ${{runner.workspace}}/TeamTalk5/Server
      shell: cmd
      run: |
        tt5prosvc.exe -i
        tt5prosvc.exe -s

    - name: Run Catch unit tests
      working-directory: ${{runner.workspace}}/TeamTalk5/Library/TeamTalkLib/test
      shell: cmd
      run: catchtt.exe --durations yes

    - name: Restart TeamTalk Standard Server
      working-directory: ${{runner.workspace}}/TeamTalk5/Server
      shell: cmd
      run: |
        tt5svc.exe -e
        tt5svc.exe -s

    - name: Stop and uninstall TeamTalk Pro Server
      working-directory: ${{runner.workspace}}/TeamTalk5/Server
      shell: cmd
      run: |
        tt5prosvc.exe -e
        tt5prosvc.exe -u

    - name: Run .NET unit tests (non-encrypted)
      working-directory: ${{runner.workspace}}
      shell: cmd
      run: |
        cd output\Library\TeamTalk.NET\TeamTalkTest.NET\Release
        xcopy /S /Y /E ${{runner.workspace}}\TeamTalk5\Library\TeamTalkLib\test\testdata testdata\
        VSTest.Console.exe /Platform:${{ matrix.arch }} TeamTalk5Test.NET.dll

    - name: Run PyTest
      working-directory: ${{runner.workspace}}/TeamTalk5/Library/TeamTalkPy/test
      run: pytest teamtalk_test.py

    - name: Run Python client
      working-directory: ${{runner.workspace}}/TeamTalk5/Client/ttserverlogpy
      run: python main.py

    - name: Stop and uninstall TeamTalk Standard Server
      working-directory: ${{runner.workspace}}/TeamTalk5/Server
      shell: cmd
      run: |
        tt5svc.exe -e
        tt5svc.exe -u

    - name: Enable encryption
      shell: cmd
      run: echo ENCRYPTED=true>> %GITHUB_ENV%

    - name: Start TeamTalk Pro Server (encrypted)
      working-directory: ${{runner.workspace}}/TeamTalk5/Server
      shell: cmd
      run: |
        tt5prosvc.exe -i
        tt5prosvc.exe -s

    - name: Run .NET unit tests (encrypted)
      working-directory: ${{runner.workspace}}
      shell: cmd
      run: |
        cd output\Library\TeamTalk.NET\TeamTalkTest.NET\Release
        xcopy /S /Y /E ${{runner.workspace}}\TeamTalk5\Library\TeamTalkLib\test\testdata testdata\
        VSTest.Console.exe /Platform:${{ matrix.arch }} TeamTalk5Test.NET.dll

    - name: Stop and uninstall TeamTalk Pro Server
      working-directory: ${{runner.workspace}}/TeamTalk5/Server
      shell: cmd
      run: |
        tt5prosvc.exe -e
        tt5prosvc.exe -u

    - name: Compile TeamTalk5.chm
      continue-on-error: true
      working-directory: ${{runner.workspace}}/TeamTalk5/Documentation/TeamTalk
      shell: cmd
      run: '"C:\Program Files (x86)\HTML Help Workshop\hhc.exe" output\index.hhp'

    - name: Create portable archives
      working-directory: ${{runner.workspace}}
      shell: msys2 {0}
      run: |
        cd install-teamtalk
        export TEAMTALK_INSTALLDIR=$PWD
        cd ../TeamTalk5
        source env.sh
        cd Setup/Portable
        make ${{ matrix.portablearch }} ${{ matrix.portablearch }}pro

    - name: Compile Inno Setup installer
      if: matrix.arch == 'x64'
      working-directory: ${{runner.workspace}}/TeamTalk5/Setup/Installer/Windows
      shell: cmd
      run: |
        "C:\Program Files (x86)\Inno Setup 6\iscc.exe" /DBaseDir="${{runner.workspace}}\TeamTalk5" /DInstallDir="${{runner.workspace}}\install-teamtalk" TeamTalk5.iss
        move Output\*.exe ${{runner.workspace}}\

    - name: Upload Inno Setup installer artifact
      if: matrix.arch == 'x64'
      uses: actions/upload-artifact@v6
      with:
        name: teamtalk-installer-windows-${{ matrix.arch }}
        path: ${{runner.workspace}}/TeamTalk_*.exe

    - name: Upload TeamTalk SDK artifact
      uses: actions/upload-artifact@v6
      with:
        name: teamtalksdk-windows-${{ matrix.arch }}
        path: ${{runner.workspace}}/install-teamtalk

    - name: Upload TeamTalk portable artifact
      uses: actions/upload-artifact@v6
      with:
        name: teamtalk-portable-${{ matrix.portablearch }}
        path: ${{runner.workspace}}/TeamTalk5/Setup/Portable/TeamTalk_*_Portable-${{ matrix.portablearch }}

    - name: Upload TeamTalk Pro Server artifact
      uses: actions/upload-artifact@v6
      with:
        name: teamtalkpro-${{ matrix.portablearch }}
        path: ${{runner.workspace}}/TeamTalk5/Setup/Portable/teamtalkpro-*-${{ matrix.portablearch }}
